
.bb-board-view__hero-section{
    position: relative;
    min-height: 300px;
    background-color: lightblue;
}

.bb-board-view__hero-section-title-wrapper{
    width: 100%;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.bb-board-view__subtitle{
    margin: 0 15px;
}

.bb-board-view__article-setcion{
    margin-top: 15px;
}
.bb-board-view__article{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Medium Viewport 이하 */
@media screen and (max-width: 1068px) {

}
/* Small Viewport 이하 */
@media screen and (max-width: 734px) {

}

.bb-board-view__update-btns{
    display: flex;
    justify-content: flex-end;
    max-width: 800px;
    margin: 0 auto;
    & li:not(:only-child):not(:first-child){
        margin-left: 10px;
    }
}