@import '../../App.scss';

.bb-board-home__main{
    padding-top: 50px;
    padding-bottom: 15px;
    background-color: rgba(210, 210, 210, 0.15);
}

.bb-board-home__hero-section{
    text-align: center;
    margin-top: 30px;
}
.bb-board-home__tag-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 30px auto 0;
    flex-wrap: wrap;
    & > li{
        @extend .text-bold;
        cursor: pointer;
        border: 2px solid lightgrey;
        color: lightgrey;
        border-radius: 15px;
        padding: 2px 10px;
        font-size: 14px;
        margin: 5px;
    }
    & > li:hover,
    & > li.on{
        border: 2px solid grey;
        color: grey;
    }
}


.bb-board-home__btns-wrapper{
    max-width: 840px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    & > div{
        cursor: pointer;
    }
}
.bb-board-home__hero-desc{
    margin-top: 5px;
}
.bb-board-home__icon-wrapper{
    display: flex;
    align-items: center;
}
.bb-board-home__write-icon{
    font-size: 20px;
}

/* Medium Viewport 이하 */
@media screen and (max-width: 1068px) {
    
}
/* Small Viewport 이하 */
@media screen and (max-width: 734px) {
    
}