@import '../../App.scss';

.main{
    padding-top: 50px;
    padding-bottom: 15px;
    background-color: rgba(210, 210, 210, 0.15);
}
.bg-kw-hero{
    text-align: center;
    margin-top: 30px;
}
.bg-kw-tags{
    list-style: none;
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 30px auto 0;
    flex-wrap: wrap;
    & > li{
        cursor: pointer;
        border: 1px solid $loading-color;
        color: $loading-color;
        border-radius: 15px;
        padding: 2px 10px;
        font-size: 14px;
        margin: 5px;
    }
    & > li:hover,
    & > li.on{
        border: 1px solid grey;
        color: grey;
    }
}
.bg-kw-btm-btns{
    max-width: 840px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;

    & > div{
        cursor: pointer;
    }
}


/* Medium Viewport 이하 */
@media screen and (max-width: 1068px) {
    
}
/* Small Viewport 이하 */
@media screen and (max-width: 734px) {
    
}