@import '../../App.scss';

.bg-kw-list{
    & > ul{
        list-style: none;
    }
}

.bb-board-list__image{
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    background-size: auto 100%;
    background-position: center;
    border: 1px solid lightgray;
}
@media screen and (max-width: 1068px) {
    .bb-board-list__image{
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width: 734px) {
    .bb-board-list__image{
        width: 120px;
        height: 120px;
    }
}



.bb-board-list__body{
    cursor: pointer;
    // background-color: white;
    padding: 20px 0;
    margin: 0px auto;
    max-width: 800px;
}
@media screen and (max-width: 1068px) {
    .bb-board-list__body{
        padding: 20px;
    }
}
@media screen and (max-width: 734px) {
    .bb-board-list__body{
        padding: 15px;
    }
}


.bb-board-list__contents-wrapper{
    display: flex;
    justify-content: space-between;
}
.bb-board-list__article-tags{
    margin-top: 15px;
    & > span{
        display: inline-block;
        font-size: 12px;
        color: grey;
        border: 1px solid grey;
        border-radius: 6px;
        margin-right: 5px;
        padding: 0px 6px;
    }
}
@media screen and (max-width: 1068px) {

}
@media screen and (max-width: 734px) {
    .bb-board-list__article-tags{
        margin-top: 10px;
    }
}


.bb-board-list__article-title{
    @extend .text-regular;
    font-size: 20px;
    line-height: 1.4em;

    // 여러 줄 일떄
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    // 한 줄 일떄
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
}
.bb-board-list__article-description{
    margin-top: 10px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.bb-board-list__article-extra-info{
    @extend .text-light;
    font-size: 15px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    & > li{
        margin-right: 10px;
    }
}
.bb-board-list__article-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 20px 30px 0px;
    width: calc(100% - 220px);

}
@media screen and (max-width: 1068px) {
    .bb-board-list__article-wrapper{
        margin: 20px 10px 20px 0px;
        width: calc(100% - 170px);
    }
    .bb-board-list__article-description{
        -webkit-line-clamp: 2;
    }
}
@media screen and (max-width: 734px) {
    .bb-board-list__article-wrapper{
        margin: 5px 0px 5px 0px;
        width: calc(100% - 130px);
    }
    .bb-board-list__article-extra-info{
        font-size: 13px;
    }
}
@media screen and (max-width: 414px) {
    .bb-board-list__article-wrapper{
        margin: 0;
    }
}

