@import '../../App.scss';

.bg-hp-main{
    padding-top: $nav-height;
    padding-bottom: 15px;
}
.bb-home__hero-wrapper{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
}
.bb-home__hero-item{
    position: absolute;
    width: 1920px;
}


.bg-hp-desc{
    margin: 5px 20px 0;
}

.bg-hp-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.bg-hp-list.merge-row{
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Medium Viewport 이하 */
@media screen and (max-width: 1068px) {
    .bg-hp-table{
        margin: 0 15px;
    }
    .bg-hp-list.merge-row{
        // grid-column: 1 / span 2;
    }
}
/* Small Viewport 이하 */
@media screen and (max-width: 734px) {
    .bg-hp-table{
        grid-template-columns: 1fr;
        margin: 0;
    }
    .bg-hp-list.merge-row{
        grid-column: 1 / span 1;
    }
}
.merge-row .bg-hp-banner{
    max-width: 500px;
}





.bg-hp-list{
    list-style: none;
    border: 2px solid grey;
    min-height: 20vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 20px;
}
.bg-hp-grid{
    max-width: $max-screen-width;
    margin-left: auto;
    margin-right: auto;
}
.bg-hp-grid-wrapper{
    margin: 15px auto 0;
    max-width: 1920px;
}

.bg-hp-copy-wrapper{
    @extend .max-screen-width;
}
.bg-hp-copy{
    background-color: white;
    z-index: 1;
    position: absolute;
    text-align: center;
    padding: 20px 40px;
    border: 1px solid lightgrey;
    bottom: 70px;
}
@media screen and (max-width: 1068px) {
    .bg-hp-copy{
        margin-left: 15px;
    }
}
@media only screen and (max-width: 735px) {
    .bg-hp-copy{
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        margin: 0;
    }
}

.bg-hp-hero{
    position: relative;
    height: 300px;
}

// IMAGE
.bg-hp-hero-img-wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 100%;
}
.bg-hp-hero-img{
    width: 1920px;
    // height: 1440px;
    height: 300px;
    background-size: 1920px 300px;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/home/hero-image-1.jpg');
    background-color: gray;
}
.bb-homme__site-intro{
    // @extend .text-white;
    // background-size: auto 100%;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-image: url('../../assets/images/home/hero-image-2.jpg');
    
}

// @media only screen and (max-width: 1068px) {
//     .bg-hp-hero-img{
//         width: 1920px;
//         // height: 1080px;
//         height: 540px;
//         background-size: 1920px 1080px;
//     }
// }



// @media only screen and (max-width: 735px) {
//     .bg-hp-hero-img{
//         width: 1600px;
//         // height: 900px;
//         height: 450px;
//         background-size: 1600px 900px;
//     }
// }

