@import '../../App.scss';

.bb-common__footer-tag{
    background-color: $white;
    font-size: 12px;
}
.bb-common__footer-wrapper{
    max-width: $max-screen-width;
    padding: 30px;
    margin: 0 auto;
}
.bb-common__footer-block-1{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
}
.bb-common__footer-copyright{
    display: flex;
}

/* Medium Viewport 이하 */
@media screen and (max-width: 1068px) {
    
}
/* Small Viewport 이하 */
@media screen and (max-width: 734px) {
    .bb-common__footer-copyright{
        flex-direction: column;
    }
    .bb-common__footer-block-1{
        flex-direction: column-reverse;
    }
}