@import '../../App.scss';

.bb-common__footer{
    background-color: $white;
    font-size: 12px;
    margin-top: 30px;
}
.bb-common__footer-contents-wrapper{
    display: flex;
    justify-content: space-between;
    max-width: $max-screen-width;
    padding: 15px;
    margin: 0 auto;
    border-top: 1px solid grey;
}
@media screen and (max-width: 414px) {
    .bb-common__footer-contents-wrapper{
        flex-direction: column;
        align-items: center;
    }
}
.bb-common__footer-copyright{
    display: flex;
}

/* Medium Viewport 이하 */
@media screen and (max-width: 1068px) {
    
}
/* Small Viewport 이하 */
@media screen and (max-width: 734px) {
    .bb-common__footer-copyright{
        flex-direction: column;
    }
}