@import '../../App.scss';

.bb-header__nav{
    background-color: $loading-color;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    height: $nav-height;
    & a{
        text-decoration: unset;
        color: black;
    }
}



.bb-header__menu--desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-screen-width;
    margin: 0 auto;
    padding: 0 20px;
    height: $nav-height;
}



.bb-header__menu-detail{
    & > li{
        list-style: none;
    }
}
.bb-header__menu-detail--desktop{
    @extend .bb-header__menu-detail;
    display: flex;
    margin: 0;
    & > li{
        margin-left: 20px;
    }
}


.bb-header__menu-detail--mobile{
    @extend .bb-header__menu-detail;

    background-color: lightgray;
    height: 0;
    transition: height ease-in-out 0.5s;
    overflow: hidden;
    & > li{
        padding: 10px 0;
        margin: 0 40px;
        border-bottom: 1px solid black;
    }
    &.on{
        height: 100vh;
        border-top: 1px solid black;
    }
}


.bb-header__menu-toggle{
    display: none;
    cursor: pointer;
}


/* Medium Viewport 이하 */
@media screen and (max-width: 1068px) {
    
}
/* Small Viewport 이하 */
@media screen and (max-width: 734px) {
    .bb-header__menu-detail--desktop{
        display: none;
    }
    .bb-header__menu-toggle{
        display: inherit;
    }
}

.bb-header__menu-detail-wrapper{
    display: flex;
}




.bb-header__sub-menu{
    margin-left: 20px;
    position: relative;
    
}
.bb-header__sub-menu-icon{
    cursor: pointer;
}
.bb-header__sub-menu-box{
    display: none;
    position: absolute;
    margin-top: 5px;
    right: -5px;

    &.on{
        display: block;
    }

    & .edge-wrapper{
        height: 5px;
        overflow: hidden;
        padding-top: 2px;
        // z-index: 1;
        position: absolute;
        right: 15px;
    }

    & .edge{
        width: 10px;
        height: 10px;
        border: 1px solid black;
        background-color: white;
        transform: rotate(45deg);
    }

}
.bb-header__sub-menu-box-ul{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 100px;
    margin-top: 6px;
    padding: 20px;
    text-align: center;

    & > li{
        margin-top: 5px;
        cursor: pointer;
    }
    & > li:hover{
        text-decoration: underline;
    }
    & > li:first-child{
        margin-top: 0px;
    }
}
