@import '../../App.scss';

.bb-header__nav{
    background-color: $loading-color;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    height: $nav-height;
    overflow: hidden;
    transition: height ease-in-out 0.5s;

    &.on{
        height: 100vh;
    }
    & a{
        text-decoration: unset;
        color: black;
    }
}



.bb-header__menu--desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-screen-width;
    margin: 0 auto;
    padding: 0 20px;
    height: $nav-height;
}



.bb-header__menu-detail{
    & > li{
        list-style: none;
    }
}
.bb-header__menu-detail--desktop{
    @extend .bb-header__menu-detail;
    display: flex;
    margin: 0;
    & > li{
        margin-left: 20px;
    }
}
.bb-header__menu-detail--mobile{
    @extend .bb-header__menu-detail;
    border-top: 1px solid black;
    & > li{
        padding: 10px 0;
        margin: 0 40px;
        border-bottom: 1px solid black;
    }
}


.bb-header__menu-toggle{
    display: none;
    cursor: pointer;
}


/* Medium Viewport 이하 */
@media screen and (max-width: 1068px) {
    
}
/* Small Viewport 이하 */
@media screen and (max-width: 734px) {
    .bb-header__menu-detail--desktop{
        display: none;
    }
    .bb-header__icons--mobile{
        display: inherit;
    }
    .bb-header__menu-toggle{
        display: inherit;
    }
}

.bb-header__menu-detail-wrapper{
    display: flex;
}
.bb-header__icons{
    margin-left: 20px;
    cursor: pointer;
}