@import '../../App.scss';

.bb-header__nav{
    border-bottom: 1px solid grey;
    background-color: $white;
    color: black;
    min-width: inherit;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    height: $nav-height;
    & a{
        text-decoration: unset;
        color: inherit;
    }
}
.bb-header__menu--desktop{
    @extend .max-screen-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $nav-height;
}
@media screen and (max-width: 1068px) {
    .bb-header__menu--desktop{
        padding: 0 15px;
    }
}
@media screen and (max-width: 734px) {
    .bb-header__menu--desktop{
        padding: 0 10px;
    }
}

.bb-header__desktop-menu{
    display: flex;
    align-items: center;
    margin: 0;
    & > li{
        list-style: none;
        margin-left: 20px;
    }
    & a{
        @extend .text-regular;
    }
}
// @media screen and (max-width: 1068px) {

// }
@media screen and (max-width: 734px) {
    .bb-header__desktop-menu{
        display: none;
    }
}

.bb-header__mobile-menu{
    background-color: lightgray;
    height: 0;
    transition: height ease-in-out 0.3s;
    overflow: hidden;
    & > li{
        list-style: none;
        padding: 10px 0;
        margin: 0 40px;
        border-bottom: 1px solid black;
    }
    &.on{
        height: 100vh;
    }
}


.bb-header__mobile-menu-btn{
    display: none;
    cursor: pointer;
}
.bb-header__logo-btn{
    width: 20%;
    a {
        font-size: 18px;
    }
}
.bb-header__desktop-menu-wrapper{
    width: 80%;
}
@media screen and (max-width: 734px) {
    .bb-header__mobile-menu-btn{
        display: inherit;
        width: calc(100% / 3);
    }
    .bb-header__logo-btn{
        text-align: center;
        width: calc(100% / 3);
    }
    .bb-header__desktop-menu-wrapper{
        width: calc(100% / 3);
    }
}


.bb-header__desktop-menu-wrapper{
    display: flex;
    justify-content: flex-end;
}




.bb-header__sub-menu{
    margin-left: 20px;
    position: relative;
    
}
.bb-header__sub-menu-icon{
    display: flex;
    cursor: pointer;
}
.bb-header__sub-menu-box{
    display: none;
    position: absolute;
    margin-top: 5px;
    right: -5px;

    &.on{
        display: block;
    }

    & .edge-wrapper{
        height: 5px;
        overflow: hidden;
        padding-top: 2px;
        // z-index: 1;
        position: absolute;
        right: 12px;
    }

    & .edge{
        width: 10px;
        height: 10px;
        border: 1px solid black;
        background-color: white;
        transform: rotate(45deg);
    }

}
.bb-header__sub-menu-wrapper{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 6px;
}
.bb-header__sub-menu_login-massage{
    border-bottom: 1px solid lightgrey;
    padding: 15px;
    & > div{
        @extend .text-bold;
        margin-top: 5px;
    }
}
.bb-header__sub-menu-box-ul{
    padding: 15px;
    
    
    

    & > li{
        margin-top: 5px;
        cursor: pointer;
    }
    & > li:hover{
        text-decoration: underline;
    }
    & > li:first-child{
        margin-top: 0px;
    }
}
