$max-screen-width: 1068px;
$nav-height: 50px;

$white: #ffffff;
$darkgrey: #2e2e2e;


.max-screen-width {
    max-width: $max-screen-width;
    margin-left: auto;
    margin-right: auto;
}

.bb-body {
    min-width: 320px;
}

.text-black {
    font-family: 'NotoSansKR-Black';
}

.text-bold {
    font-family: 'NotoSansKR-Bold';
}

.text-medium {
    font-family: 'NotoSansKR-Medium';
}

.text-regular {
    font-family: 'NotoSansKR-Regular';
}

.text-light{
    font-family: 'NotoSansKR-Light';
}

.text-thin{
    font-family: 'NotoSansKR-Thin';
}


.text-white {
    color: white;
}
.text-grey {
    color: grey;
}
.text-lightgrey {
    color: lightgrey;
}
.icon-chevronright {
    font-size: 25px;
    position: relative;
    margin-bottom: -6px;
}
.icon-user {
    font-size: 25px;
}
.icon-menu{
    font-size: 25px;
}

.small-hidden{
    display: inherit;
}
@media screen and (max-width: 1068px) {
   
}
@media screen and (max-width: 734px) {
    .small-hidden{
        display: none !important;
    }
}